/* Generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  /* background: lightgrey; */
}

/* utility generali */

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.contenitore{
  width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  line-height: 23px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.btn_blu{
padding: 5px 30px;
}

.btn_green{
  background: #7bbb00;
  border: 0;
  padding: 5px 30px;
}

.btn_green_2{
  background: #7bbb00;
  border: 0;
  padding: 20px 25px;
}

.w_50 {
  width: 50%;
}

.float_left{
  float: left;
}


/* Parte riguardante l'header */

#main_header{
  height: 520px;
  background: #0c3259;
  width: 100%
}

.background_main_header{
  margin: 0 auto;
  height: 520px;
  max-width: 1600px;
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 100% 110%;
}

.header_menu{
  line-height: 80px;
  text-transform: uppercase;
}

.header_menu li {
  display: inline-block;
  list-style: none;
  color: white;
}

.header_menu a{
  display: inline-block;
  text-decoration: none;
  color: white;
}

.colonna_logo,
.colonna_mid,
.colonna_dx{
  float: left;
}

.colonna_logo{
  width: 15%;
}

.colonna_logo img{
  margin-top: 16px;
}

.colonna_mid{
  width: 45%;
}

.colonna_dx{
  text-align: right;
 width: 40%;
}

.spazio_menu li{
  padding: 0 10px;
}

/* Jumbotron */
.jumbotron {
  position: relative;
  height: 430px;
}

.jumbotron_text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.jumbotron_text h1 {
  margin-bottom: 50px;
  font-size: 350%;
  color: white;
  font-weight: 400;
}

/* Parte riguardante il main */

/* Contenitore grigio */
.box_grey{
  padding: 30px;
  text-align: center;
  line-height: 40px;
  background: #f9f9f9;
}

.box_grey h2{
  font-size: 25px;
}

.box_grey p{
  font-size: 18px;
  color: grey;
}

/* Prima sezione */
#riga1{
  text-align: center;
  padding: 50px 0;
}
.sezione_1_col{
  float: left;
  width: calc(100% /3);
  padding: 0 5px;
}

.info_col1_img{
  height: 150px;
  margin-bottom: 20px;
}

.info_col1_title{
  font-size: 25px;
  color: #7bbb00;
  padding: 0 15px 20px 15px;
  margin-bottom: 20px;
  position: relative;
}

.info_col1_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  height: 1px;
  transform: translateX(-50%);
  background: gray;
}

.info_col1_text {
  font-size: 15px;
  line-height: 25px;
  padding: 0 50px 0 50px;
  color: grey;
}

/* Seconda sezione */
#riga2{
  margin: 50px auto;
  width: 1100px;
  /* height: 500px; */
  /* background: grey; */
}

.info_col2_img{
  padding: 25px;
  height: 500px;
}
.info_col2{
  padding: 50px;
}
.info_col2 h2{
  margin-top: 30px;
  font-size: 30px;
  padding: 0 35px;
  line-height: 45px;
  color: #696969;
}

.info_col2 p{
  font-size: 16px;
  padding: 15px 35px;
  color: grey;
}

.info_col2 a{
  padding: 15px 35px;
  font-size: 14px;
  color: #19b3ec;
}


/* Parte riguardante il footer */
#main_footer{
  width: 100%;
  line-height: 140px;
  background: #d3d3d3;
}

.foot_col1,
.foot_col2{
  text-align: center;
  display: inline-block;
}
.foot_col1{
  font-size: 20px;
}

.foot_col2 h2,
.foot_col2 select,
.foot_col2 h3{
  margin: 0 15px;
}

.foot_col2 h2{
  display: inline-block;
  font-size: 15px;
  color: gray;
}

.foot_col2 select{
  padding: 5px 10px;
  border-radius: 5px;
}
.foot_col2 h3{
  display: inline-block;
  font-size: 11px;
}

































/*  */
